<div id="{{$ctrl.id}}" class="rating" ng-class="$ctrl.getComponentClassNames()">

    <div ng-show="$ctrl.labelText" class="label-value">{{$ctrl.labelText}}</div>

    <div class="star-container" ng-mouseleave="$ctrl.onStarHover()">

        <div class="star"
             ng-repeat="star in $ctrl.stars track by $index"
             ng-click="$ctrl.onStarClicked(star)"
             ng-mouseover="$ctrl.onStarHover(star)">

            <i class="star-empty {{$ctrl.classEmpty}}" ng-if="!$ctrl.svgVisible()"></i>
            <i class="star-half {{$ctrl.classHalf}}" ng-if="!$ctrl.svgVisible()"></i>
            <i class="star-filled {{$ctrl.classFilled}}" ng-if="!$ctrl.svgVisible()"></i>

            <svg class="star-empty {{$ctrl.classEmpty}}" ng-if="$ctrl.svgVisible()">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$ctrl.pathEmpty}}"></use>
            </svg>
            <svg class="star-half {{$ctrl.classHalf}}" ng-if="$ctrl.svgVisible()">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$ctrl.pathHalf}}"></use>
            </svg>
            <svg class="star-filled {{$ctrl.classFilled}}" ng-if="$ctrl.svgVisible()">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$ctrl.pathFilled}}"></use>
            </svg>
        </div>
    </div>

</div>